body {
    background-color: black;
}
h1 {
    color: #e1bcebe0;
}
p   {
    color: #e1bcebe0;
}
main, footer {
    color:#e1bcebe0;
}
img {
    max-width: 500px;
    max-height: 450px;®
    width: auto;
    height: auto;
}