body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
        display: flex; 
        flex-direction: column;
        min-height: 100vh;
       
}

a{
    color: darkcyan;
}

h1 {
    color: #e1bcebe0;
    font-family: 'Courier New', Courier, monospace
}

p   {
    color: #e1bcebe0;
}

details{
    color: #e1bcebe0;
}

main, footer {
    color:#e1bcebe0;
}

ol{
    color: #e1bcebe0;
  }

ul{
  color: #e1bcebe0;
}

/*profile*/
 .text1{
  text-align: left;
  color: #e1bcebe0;
 }

/* messi */
 .text2{
    color: #e1bcebe0;
 }
 
 /* earthtext index */
 .text3{
  color: #e1bcebe0;
  float: left;
}

/* padding for text on index page */
.text5{
  padding: 1%;
}

/* text blog flatline agency */
.text6{
  text-align: center;
  color: #e1bcebe0;
  font-size: larger;
  padding: 1%;
  
}

.text6 ul{
  text-align: center;
  list-style: inside;
  padding-left: 0;
}

/*phyton game*/
 .image1{
    border-radius: 50px;
    width: 20%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

  /*iceland picture*/
  .image2{
    border-radius: 50px;
    width: 44%;
    height: auto;
    float: right;
    border: thin silver solid;
    padding: 0.5em;
  }

  /* gometown */
  .image3{
    border-radius: 50px;
    width: 50%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }
  
  /* bram profile*/
  .image4{
    vertical-align: auto;
    border-radius: 50px;
    width: 10%;
    height: auto;
    float: left;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

  /*messi*/
  .image5{
    vertical-align: auto;
    border-radius: 50px;
    width: 20%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

  /*hz logo*/
  .image6{
    max-width: 10%;
    max-height: auto;
  }

  /* insta logo*/
  .image7{
    max-width: 3%;
    max-height: auto;
    border-radius: 22px;
    display: inline-block;
    margin-left: 35px;
  }

  /* facebook*/
  .image8{
    max-width: 3%;
    max-height: auto;
    border-radius: 28px;
    display: inline-block;
    margin-left: 35px;
  }

  /* linkdin*/
  .image9{
    max-width: 4%;
    max-height: auto;
    border-radius: 2px;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: -0.5%;
  }
.image11{
  width: 75%;
  height: auto;
}
/* immage discepline */
  .image10{
   flex-basis: 40%;
   max-width: 100%;
   padding-bottom: 2%;
  }

  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container5{
    float: right;
  }
  

  .text4{
    font-size: 20px; 
    padding-left: 20px;
    padding-right: 20px;
    color: #e1bcebe0;
    padding-top: 1.5%;
  }
/* end discepline */


table{
    color: #e1bcebe0;
    margin-left: auto;
    margin-right: auto;
}



.container1{
  color: #e1bcebe0;
  text-align: center;
}

.Details2{
  color: #e1bcebe0;
  text-align: center;
}


.feedback{
  margin-top: 0%;
  padding: auto;
  white-space: pre-line;
  line-height: 1.0;
}

.feedbackH1{
  padding: auto;
  margin-bottom: 0%;
}

.ulfeedback{
  padding: auto;
}
/*footer*/
footer{
  margin-top: auto;
        background-color: rgb(36, 37, 37);
        color: white;
        border: black solid;
        text-align: center;
        padding: 10px;

}

/*table */
.tableEC{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(27, 127, 209);
}


/* percentage circle */
.wrap-circles {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #000;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: -45%;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle.per- {
  background-image: conic-gradient(#B5838D 10%, #FFCDB2 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
/*End of percentage circle */

