/*----------------------------------head----------------------------------*/
head{
  background-color: #335145;
}

/*----------------------------------body----------------------------------*/
body {
    background-color: #8EB897!important;
    margin: 0 !important ;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex !important; 
    flex-direction: column !important;
    min-height: 100vh !important; 
}

/* ---------------------------------- main ----------------------------------*/
main{
  margin-top: 80px;
  background-color: #8EB897;
  text-align: left;
}

/*----------------------------------footer----------------------------------*/
footer{
  margin-top: auto;
  background-color: #335145;
  color: white;
  padding: 10px;

}

h1 {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  z-index: 999;
  margin-top: 70px;
  padding: 2%;
  font-weight: bold !important; 
}

a{
    color: #fff !important;
}

/*----------------------------------details for blog and faq----------------------------------*/
details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 5px 50px 25px 25px;
  margin: 0 0 0 3rem; 
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
  background-color: #528864;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #528864;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: black;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 2px #335145;
  border-radius: 15px;
  overflow: hidden;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

/*----------------------------------navbar active----------------------------------*/
.nav-item-active {
  font-weight: bold;
}

/* ---------------------------------- feedback for blogpages ---------------------------------- */
.feedback{
  margin-top: 0%;
  padding: auto;
  white-space: pre-line;
  line-height: 1.0;
}

.feedbackH1{
  padding: auto;
  margin-bottom: 0%;
}

.ulfeedback{
  padding: auto;
}

/* ---------------------------------- text blog flatline agency ----------------------------------*/
.flatline{
  text-align: left;
  font-size: larger;
  padding: 1%;
  
}

.flatline ul{
  text-align: left;
  list-style: inside;
  padding-left: 0;
}

.flatlineworkspace{
    width: 85%;
    height: auto;
}

.profession-flatline{
  padding-left: 3%;
}
  
.profession-flatline-h1{
  text-align: left;
  padding-left: 3%;
}

/* ---------------------------------- text blog enappsys ---------------------------------- */
.enappsys{
  text-align: left;
  font-size: larger;
  padding: 1%;
}

/*---------------------------------- text blog date to value ----------------------------------*/
.datetovalue{
  text-align: left;
  font-size: larger;
  padding: 1%;
}

/*---------------------------------- Pictures in index page----------------------------------*/
.joeri{
  width: 40%;
    height: auto;
    float: right;
    padding: 0.5em;
    border: 2px solid #fff;
}
  
  .iceland{
    border: 3px solid #fff;
    width: 50%;
    height: auto;
    float: right;
    border: thin silver solid;
    padding: 0.5em;
  }
  
  /*---------------------------------- pictures in about me page----------------------------------*/
  .eindgala{
    width: 50%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

  .papafoto{
    vertical-align: auto;
    width: 20%;
    height: auto;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

  .klas{
    align-items: flex-start;
    width: 20%;
    height: auto;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;

  }
  
  
  .messi{
    width: 17%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    align-items: flex-start;
  }

  /*----------------------------------Pictures in footer----------------------------------*/

  /* facebook */
  .image6{
    max-width: 10%;
    max-height: auto;
  }

  /* insta logo*/
  .image7{
    max-width: 3%;
    max-height: auto;
    border-radius: 22px;
    display: inline-block;
    margin-left: 35px;
  }

  /* facebook*/
  .image8{
    max-width: 3%;
    max-height: auto;
    border-radius: 28px;
    display: inline-block;
    margin-left: 35px;
  }

  /* linkdin*/
  .image9{
    max-width: 4%;
    max-height: auto;
    border-radius: 2px;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: -0.5%;
  }


/*---------------------------------- immage discepline in study choice page---------------------------------- */
  .disceplinepic{
   flex-basis: 40%;
   max-width: 100%;
   padding-bottom: 2%;
  }

  .textdiscepline{
    font-size: 20px; 
    padding-left: 20px;
    padding-right: 20px;
  
    padding-top: 1.5%;
  }


/*---------------------------------- section table in dashboard page ---------------------------------- */
.table-dark {
  border-collapse: collapse; 
  width: 100%;
}

.table-dark th, .table-dark td {
  border: 1px solid #000; 
  padding: 8px;
  text-align: left;
}

.table-dark th {
  background-color: #333; 
  color: #fff; 
}

table{
    margin-left: auto;
    margin-right: auto;
    border-width: 3px ;
}

.ectable{
  margin-top: 5%;
  background-color: #669877;
}

.NBSA{
  background-color: #528864;
}

.tableEC{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(95, 129, 91, 0.45);
  color: #000;

}


/*---------------------------------- Circle of ec in dashboard page  ---------------------------------- */

.wrap-circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #528864;
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle.per- {
  background-image: conic-gradient(#000000 10%, #FFCDB2 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

/*----------------------------------sections from index page----------------------------------*/
.my-motivation{
  background-color: #8EB897;
  float: left;
  padding: 5%;
}

.why-international{
  background-color: #669877;
  padding: 3% 3% 2% 3%;
}

.maps{
  background-color: #528864;
  padding: 3%;
  padding-top: 2%;
}


/*---------------------------------- sections from about me page ----------------------------------*/
.somethings-about-me{
  text-align: left;
  padding: 3%;
}

.my-familly{
  text-align: left;
  padding: 3%;
  background-color:#669877;

}

.hobbies{
  text-align: left;
  padding: 3%;
  background-color: #528864;
  padding-top: 5%;
}

/*---------------------------------- sections from the FAQ page ----------------------------------*/
.FAQ{
  background-color: #8EB897;
  padding-left: 3%;
  padding-bottom: 3%;
}

/* ---------------------------------- sections from the blog page ---------------------------------- */

.blogh1{
  background-color: #8EB897;
  padding-left: 3%;
}

.blogdetails{
  padding-left: 3%;
  background-color: #8EB897;
}
