main{
  margin-top: 80px;
  background-color: #8EB897;
  text-align: left;
}
body {
    background-color: #8EB897!important;
    margin: 0 !important ;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex !important; 
    flex-direction: column !important;
    min-height: 100vh !important; 
}
head{
  background-color: #335145;
}

a{
    color: darkcyan;
}

.profession-flatline{
  padding: 5%;
}

.nav-item-active {

  font-weight: bold;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    z-index: 999;
    margin-top: 70px;
    padding: 2%;
}

/* text blog flatline agency */
.text6{
  text-align: center;
  font-size: larger;
  padding: 1%;
  
}

.text6 ul{
  text-align: center;
  list-style: inside;
  padding-left: 0;
}

/*phyton game*/
 .image1{
    width: 40%;
    height: auto;
    float: right;
    padding: 0.5em;
    border: 2px solid #fff;
  }

  /*iceland picture*/
  .image2{
    border: 3px solid #fff;
    width: 50%;
    height: auto;
    float: right;
    border: thin silver solid;
    padding: 0.5em;
  }

  /* hometown */
  .image3{
    border-radius: 50px;
    width: 50%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }
  
  /* bram profile*/
  .image4{
    vertical-align: auto;
    border-radius: 50px;
    width: 12%;
    height: auto;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

  /*messi*/
  .image5{
   
    border-radius: 50px;
    width: 17%;
    height: auto;
    float: right;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
  }

  /*hz logo*/
  .image6{
    max-width: 10%;
    max-height: auto;
  }

  /* insta logo*/
  .image7{
    max-width: 3%;
    max-height: auto;
    border-radius: 22px;
    display: inline-block;
    margin-left: 35px;
  }

  /* facebook*/
  .image8{
    max-width: 3%;
    max-height: auto;
    border-radius: 28px;
    display: inline-block;
    margin-left: 35px;
  }

  /* linkdin*/
  .image9{
    max-width: 4%;
    max-height: auto;
    border-radius: 2px;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: -0.5%;
  }
.image11{
  width: 85%;
  height: auto;
}
/* immage discepline */
  .image10{
   flex-basis: 40%;
   max-width: 100%;
   padding-bottom: 2%;
  }

 
  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .text4{
    font-size: 20px; 
    padding-left: 20px;
    padding-right: 20px;
  
    padding-top: 1.5%;
  }
/* end discepline */


table{
    margin-left: auto;
    margin-right: auto;
}



.container1{

  text-align: center;
}

.Details2{

  text-align: center;
}


.feedback{
  margin-top: 0%;
  padding: auto;
  white-space: pre-line;
  line-height: 1.0;
}

.feedbackH1{
  padding: auto;
  margin-bottom: 0%;
}

.ulfeedback{
  padding: auto;
}
/*footer*/
footer{
        margin-top: auto;
        background-color: #335145;
        color: white;
        padding: 10px;

}

/*table */
.tableEC{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(95, 129, 91, 0.45);
  color: #000;

}


/* percentage circle */
.wrap-circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #a9d1b1;
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle.per- {
  background-image: conic-gradient(#000000 10%, #FFCDB2 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
/*End of percentage circle */

.my-motivation{
  background-color:#8EB897;
  float: left;
  padding: 5%;
}

.why-international{
  background-color: #669877;
  padding: 3%;
}

.somethings-about-me{
  text-align: left;
  padding: 3%;
  border: thin silver solid;

}

.my-familly{
  text-align: left;
  padding: 3%;
  border: thin silver solid;

}

.hobbies{
  text-align: left;
  padding: 3%;
  border: thin silver solid;

}


.maps{
  background-color: #528864;
  padding: 3%;
  padding-top: 2%;
  float: left;
}

.navbar-brand{
  align-items: left;
}